name: Continuous Deployment
on:
  workflow_run:
    workflows: ["Continuous Integration"]
    types:
      - completed
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      
      - name: Deploy to Hugging Face
        env:
          HF: ${{ secrets.HF }}
          HF_USERNAME: ${{ secrets.HF_USERNAME }}
        run: make deploy HF=$HF HF_USERNAME=$HF_USERNAME